:root {
  --cprimaryColor: #113f6c;
  --cnavbarColor: rgba(204,204,204,0.8);
  --coverallWhiteColor: #f2f2f2;
}

.navbutton{
  display: none;
}



.nbuttons span{
  padding-left: 3rem;
  padding-right: 3rem;
  display:table-cell;
  vertical-align: middle;
  height: 90px;
  font-weight: 600;
  font-size: 18pt;

  /* padding-bottom: 1px; */
}

.nbuttons{
    font-size: 0;
    width: 100%; 
    text-align: right; 
}

.nbiconmin{
  display: none;
}

@media (max-width: 430.98px) { 
  .nbiconmax{
    display: none;
  }
  .nbiconmin{
    display: block;
  }
}

@media (max-width: 1087.98px) { .navbutton{
  display: block;
}
.heap-line{
  display: none;
}
.nbuttons{
  display: none;
}


}

a{
  color: inherit;
  text-decoration: inherit;
}

a:hover{
  text-decoration: inherit;
  color: inherit;
}

.nb{
  width: 100%;
}

.fade-in-image {
  animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.pc {
  background-color: var(--cprimaryColor);
}

.tpc{
  color: var(--cprimaryColor);
}

.twc {
  color: var(--coverallWhiteColor);
}

.bbc{
  background-color: var(--coverallWhiteColor);
}

.nv {
  background-color: var(--cnavbarColor);
}

.heap-line {
  height: 8px;
  width: 100%;
  background-color: var(--cprimaryColor);
  
}

.list-group {
  border-radius: 0px;
}

.navbar {
  padding: 0px;
  
}

#cuerpo {
  width: 100%;
  height: 100vh;
  
  padding-top: 20px;
  margin: 0;
}


.oh {
  overflow: hidden;
}

.dn{
  display: none;
}

.add-scroll{
  overflow-y: scroll;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 90px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
  transform: translateX(-50px);
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn__burger {
  width: 26px;
  height: 2px;
  background: #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .15s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background: #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .15s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}

.menu-btn__burger::after {
  transform: translateY(10px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

